@import url(https://fonts.googleapis.com/css?family=Open+Sans);
img {
	display: block;
	margin: 0 auto;
}
#cancer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body{
	display: table;
	height:100%;
	width: 100%;
	background-color: #000033;
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
#center {
	text-align: center;
	color: white;
	text-decoration: none;
}
input[type=text] {
	width: 102px;
	height: 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	background-color: #000066;
	overflow: hidden;
	background-color: #000066;
	border: 2px #000033 solid;
	border-radius: 10px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
}
input[type=text]:focus {
	width: 408px;
	overflow: hidden;
	background-color: #000066;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	height: 40px;
}
#searchBtn {
	position: absolue;
	right: -50px;
	width: 40px;
	height: 36px;
	border: 1px solid #000033;
	background-color: #000066;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}